<%- include('../partials/header') %>

  <div class="about">
    <img class="about-image" src="/image/about.jpg" alt="ผู้พัฒนา">
    <div class="about-content">
      <h2>ประวัติผู้พัฒนา</h2>
      <p>รหัสนักศึกษา : 6611425034</p>
      <p>ชื่อ : วิศรุต</p>
      <p>นามสกุล : ดาราไก่</p>
      <p>สาขาวิชา : วิทยาการคอมพิวเตอร์</p>
      <p>เบอร์โทร : 123-456-7890</p>
    </div>
  </div>

<%- include('../partials/footer') %>