<%- include('../partials/header') %>
<h2>ยินดีต้อนรับสู่สารสนเทศอาหารไทย</h2>
<p class="p1">"อาหารไทยแท้รสชาติอร่อย"</p>
<img class="center-image" src="/image/image.jpg" alt="รูป">
<%- include('../partials/footer') %>